[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
anyjson = "*"
"beautifulsoup4" = "*"
billiard = "*"
boto = "*"
celery = "*"
certifi = "*"
cffi = "*"
chardet = "*"
django = "*"
django-admin-sortable = "*"
django-appconf = "*"
django-autoslug = "*"
django-colorful = "*"
django-cors-headers = "*"
django-embed-video = "*"
django-environ = "*"
django-filter = "*"
django-imagekit = "*"
django-location-field = "*"
django-ordered-model = "*"
django-solo = "*"
django-taggit = "*"
django-taggit-serializer = {git = "git://github.com/Arlefreak/django-taggit-serializer.git", editable = true, ref = "c948c11152f676e1d0893468d4000a6ec6c9ed63"}
djangorestframework = "*"
greenlet = "*"
gunicorn = "*"
"html2text" = "*"
idna = "*"
kombu = "*"
markdown = "*"
misaka = "*"
msgpack-python = "*"
neovim = "*"
olefile = "*"
pilkit = "*"
pillow = "*"
"progressbar2" = "*"
pycparser = "*"
pyparsing = "*"
python-utils = "*"
pytz = "*"
redis = "*"
requests = "*"
requests-file = "*"
tldextract = "*"
unidecode = "*"
"urllib3" = "*"
vine = "*"
"psycopg2-binary" = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.7"
